:root{
    --basic-font-size: 22px;
    --basic-font-weight:bold;
    --basic-text-color:rgb(25,25,25)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-overflow:hidden;
}
@font-face {
    font-family: viking;
    src: url(fonts/Norse-Bold.otf);
}

body{
    height:100vh;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color:black;
}
.full-page{
    background-color:rgb(255, 255, 255);
    height:100%;
    width:min(1300px,100vw);
    height: min(100%, 70vw);
    display:flex;
}

.side-wallpaper{
    background-image: url(img/green-herb.jpg);
    background-size:cover;
    width: 38%;
    height:100%;
}

img[src="img/odin-lined.png"]{
    height: min(7em,10vw);
}

.odin-text{
    display:flex;
    height:min(9em, 10vw);
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    top:30%;
    align-items: center;
    justify-content: center;
}

.odin-text>p{
    color:white;
    font-family:viking;
    font-size: min(5.5em, 6vw);
}

.side-form{
    flex:1;
    height:100%;
    display: flex;
    flex-direction:column;
}

.right-upper{
    width:100%;
    height:min(37%, 30vw);
    background-color: rgb(248,248,248);
}

.right-middle{
    display:flex;
    flex-direction: column;
}

.right-lower{
    background-color: rgb(248,248,248);
    height:min(34%, 30vw);
    width:100%;
}

div.right-upper>p:not(img+p){
    margin-left: calc(1rem + 1.5vw);
    font-size: min(var(--basic-font-size), 2vw);
    font-weight:var(--basic-font-weight);
    max-width: 60ch;
    padding-bottom: 1em;
    color:var(--basic-text-color);
}

p:first-child:not(.form-title):not(.login-text){
    margin-top:min(6em, 14vw);
    position:relative;
}


.form-container{
    display: flex;
}

ul{
    margin-left: calc(1rem + 1.5vw);
}

li{
    list-style:none;
    margin: 1vw;
    margin-left:0;
}

input, label{
    display: block;
}

input:not([type="submit"]){
    height:2.5em;
    border: 1px solid rgba(189, 185, 185, 0.6);
    border-radius: 3px;
    width:18em;
}

.form-title{
    font-size: min(var(--basic-font-size), 2vw);
    font-weight:var(--basic-font-weight);
    color: rgb(50,50,50);
    margin-left: calc(1rem + 1.5vw);
    margin-top:calc(0.5em + 0.5vw);
}

label{
    color: var(--basic-text-color);
    font-size: min(1em, 2vw);
}

input[type="submit"]{
    height: min(3rem, 5vw);
    border-radius: 6px;
    width: min(13rem, 18vw);
    border-width: 0;
    background-color: rgb(98, 122, 59);
    color: white;
    font-weight: bold;
    font-size: min(10em, 1vw);
}

input[type="submit"], .login-text{
    margin-left: 3rem;
    margin-top:2rem;
}

.login-text{
    font-size: 1rem;
    color: var(--basic-text-color);
}

a{
    text-decoration: none;
    color: rgb(98, 122, 59);
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="phone"], input[type="password"]{
    width:min(16em, 20vw);
    height:min(2em,3vw)
}