:root{
    --basic-font-size: 22px;
    --basic-font-weight:bold;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: viking;
    src: url(fonts/Norse-Bold.otf);
}

body{
    height:100vh;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color:black;
}
.full-page{
    background-color:rgb(255, 255, 255);
    height:100%;
    width:min(1300px,100vw);
    display:flex;
}

.side-wallpaper{
    background-image: url(img/green-herb.jpg);
    background-size:cover;
    width: 38%;
    height:100%;
}

img[src="img/odin-lined.png"]{
    height: 7em;
}

.odin-text{
    display:flex;
    height:15%;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    top:22%;
    align-items: center;
    justify-content: center;
}

.odin-text>p{
    color:white;
    font-family:viking;
    font-size: 5.5em;
}

.side-form{
    flex:1;
    height:100%;
    display: flex;
    flex-direction:column;
}

.right-upper{
    width:100%;
    height:37%;
    background-color:blue;
}

.right-middle{
    background-color:red;
    flex:1;
}

.right-lower{
    background-color:yellow;
    height:34%;
    width:100%;
}

p:first-child{
    padding-top:6.5em;
}

div>p:not(img+p){
    padding-left: 1.5em;
    font-size: var(--basic-font-size);
    font-weight:var(--basic-font-weight);
    max-width: 60ch;
    padding-bottom: 1em;
}

